.btn {
	background-color: #F3F3F3;
	border: 1px solid #e4e4e4;
	height: 32px;
	padding: 0 20px;
	font-size: 14px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	margin-right: 5px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	max-width: 350px;
}

.btn.primary {
  color: #ffffff;
	background-color: #47c36d;
	border: 1px solid #29a080;
}

.btn.secondary {
  color: #ffffff;
  background-color: #9130BF;
  border: 1px solid #682e9c;
}

.btn.large {
	height: 40px;
	padding: 0 40px;
	font-size: 20px;
}

.btn.small {
	height: 24px;
	padding: 0 20px;
	font-size: 12px;
}